/* Global styling */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/dust_scratches.png");
}

/* ****** Header ****** */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;;
    background-color: #0b1424;
}
.header-scroll {
    border-bottom: solid 2px #ff2066;
}

/* Nav Bar Styling */
.flex-nav {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
}

nav > h1 {
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-size: 2.5em;
    padding: 25px 25px 5px 5px;
}

nav > h1 > a {
    text-decoration: none;
    color: #f4f5f7;

}
.logo {
    margin-top: 15px;
    padding: 5px;
    font-family: 'Prosto One', Arial, sans-serif;
    font-size: 2.3em;
    color: rgb(255, 32, 102, .7);
    border: solid 3px rgb(255, 32, 102, .7);
    border-radius: 5px;
    text-decoration: none;
    
}

/* Search Form Styling */
.search-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 8;
    align-items: center;
    padding-top: 15px;
}

form > input {
    width: 200px;
    margin-right: 5px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color:#f4f5f7;
}

form > button {
    padding: 7px 15px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgb(255, 32, 102, .5);;
    color: #f4f5f7;
    border: none;
    cursor: pointer;
}
form > button:hover {
   
    background-color: rgb(255, 32, 102, .3);
    
}
form > button:focus {
   outline: 0;
}
form > button:active {
    background-color: rgb(255, 32, 102, .5);

}

.alert-mssg {
    color: #f4f5f7;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

/* ****** Banner Styling ****** */
.main-banner {
    padding: 60px;
    text-align: center;
    background-color: #0b1424;
    color: #f4f5f7;
    width: 100%;
    margin: 60px auto 0;
    border-bottom: solid 2px #ff2066;
}

.main-banner > h1 {
    font-family: 'Rowdies', Arial, sans-serif;
    font-size: 2.5em;
    padding: 10px;
    color: #f4f5f7;
}

.main-banner > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: rgb(244, 245, 247, .8);
    margin-top: 10px;
}

p.banner-search {
    color: #f4f5f7;
    font-size: 2em;
    margin-top:20px
}

/* ****** Main Photo Container ******* */
.photo-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto 20px;
    justify-content: center;
    min-height: 500px;
}

.status-mssg {
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 32, 102);
    padding: 30px;
    line-height: 1.5em;
}

.column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 4px;  
}

.photo-background {
    width: 100%;
    min-height: 150px;
    margin-top: 8px;
    background-image: url("../images/loading1.gif");
    background-color: white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    padding:0;
}

img {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

/* ****** Footer ****** */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #0b1424;
    color: #f4f5f7;
    width: 100%;
    border-top: solid 2px #ff2066;
    font-family: 'Roboto', sans-serif;
}

/* ****** Media Queries ****** */

@media (max-width: 1050px) {
    /* Form */
    form {
        position: relative;
    }
    .alert-mssg {
        position: absolute;
        bottom: -20px;
        left: 10px;
        font-size: .8em;
    }
}

@media (max-width: 800px) {
/* Photo Container Columns */
    .column {
        flex: 50%;
        max-width: 50%;
    }
/* Header */
    header {
        height: 150px;
    }
/* Nav */
    .flex-nav {
        flex-flow: row wrap;
        justify-content: center;
    }

/* Form */
    .search-container {
        justify-content: center;
    }
/* Banner */
    .main-banner {
        padding: 120px 0 20px;
    }

    .main-banner > h1 {
        font-size: 2em;
        padding: 15px;
    }
    
    .main-banner > p {
        font-size: 1.2em;
        margin-top: 5px;
    }
}
  
  @media (max-width: 600px) {
/* Photo Container Columns */
    .column {
      flex: 100%;
      max-width: 100%;
    }
/* Banner */
    .main-banner {
        padding: 120px 0 20px;
    }
    .main-banner > h1 {
        font-size: 1.8em;
    }
}

  @media (max-width: 400px) {
/* Nav */
    .flex-nav {
        display: initial;
        text-align: center;
    }
/* Header */
    header {
        height: 210px;
    }
/* Nav */
    nav > h1 {
        padding: 5px;
    }
    a.logo {
        display: block;
        border: none;
        font-size: 3em;
    }
/* Form */
    form > button {
        padding: 7px 15px;
        margin: 10px 0 0 0;
    }
    form {
        text-align: center;
    }
/* Banner */
    .main-banner {
        padding: 180px 0 20px;
    }
    .main-banner > h1 {
        font-size: 1.8em;
    }
}
